# World Happiness Report from 2015-2022
1. Import Libraries
2. Importing data
3. Shaping datasets for World Happiness Report from 2015-2022
       3.1 Renaming column names and dropping missmatched columns
       3.2 Merging individual datasets for happiness reports
4. Data Quality check
       4.1 Changing data types
       4.2 Data Cleaning
       4.3 Creating and checking variable 'Region'
       4.4 Checking consistency of the data
5.  Exporting data for World Happiness Report

### 1. Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

### 2. Importing Data

In [2]:
#Creating a path for this project
path = r'C:\Users\mavid\OneDrive - Universidad Nacional de Colombia\Weiterbildung\Exercises\Data_Inmersion\Achievement6\World Happiness'
print(path)

C:\Users\mavid\OneDrive - Universidad Nacional de Colombia\Weiterbildung\Exercises\Data_Inmersion\Achievement6\World Happiness

In [3]:
#Importing World Happiness reports from 2015-2022.csv to df via pandas.read_csv and os.path.join
df_hap1= pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '1. WorldHappiness2015.csv'),index_col = False, decimal=",")
df_hap2= pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2. WorldHappiness2016.csv'),index_col = False, decimal=",")
df_hap3= pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '3. WorldHappiness2017.csv'),index_col = False, decimal=",")
df_hap4= pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '4. WorldHappiness2018.csv'),index_col = False, decimal=",")
df_hap5= pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '5. WorldHappiness2019.csv'),index_col = False, decimal=",")
df_hap6= pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '6. WorldHappiness2020.csv'),index_col = False, decimal=",")
df_hap7= pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '7. WorldHappiness2021.csv'),index_col = False, decimal=",")
df_hap8= pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '8. WorldHappiness2022.csv'),index_col = False, decimal=",")

### 3. Shaping datasets for World Happiness Report from 2015-2022

In [4]:
# Creating a new column in all individudal datasets with the year 
df_hap1['Year'] = '2015'
df_hap2['Year'] = '2016'
df_hap3['Year'] = '2017'
df_hap4['Year'] = '2018'
df_hap5['Year'] = '2019'
df_hap6['Year'] = '2020'
df_hap7['Year'] = '2021'
df_hap8['Year'] = '2022'

#### 3.1 Renaming column names and dropping missmatched columns

#### Renaming df_hap1

In [5]:
# Dropping extra columns
df_hap1.drop(['Standard Error','Dystopia Residual','Region'], inplace=True, axis=1)

In [6]:
# call rename () method
#Rename df_hap1 columns
df_hap1.rename(columns={'Happiness Rank': 'Happiness_Rank',
        'Happiness Score': 'Happiness_Score',
        'Economy (GDP per Capita)': 'GDP_per_Capita',
        'Family': 'Social_support',
        'Health (Life Expectancy)': 'Life_Expectancy',
        'Freedom': 'Freedom',
        'Trust (Government Corruption)': 'Corruption',
        'Generosity': 'Generosity',
        'Dystopia Residual':'Dystopia_Residual'}, inplace=True)
 
# print Data frame after rename columns
#display(df_hap1)

In [7]:
# Checking column names in df_hap1
list(df_hap1.columns.values.tolist())

['Country',
 'Happiness_Rank',
 'Happiness_Score',
 'GDP_per_Capita',
 'Social_support',
 'Life_Expectancy',
 'Freedom',
 'Corruption',
 'Generosity',
 'Year']

#### Renaming df_hap2

In [8]:
# Dropping extra columns
df_hap2.drop(['Lower Confidence Interval','Upper Confidence Interval','Dystopia Residual','Region'], inplace=True, axis=1)

In [9]:
# call rename () method
#Rename df_hap2 columns
df_hap2.rename(columns={'Happiness Rank': 'Happiness_Rank',
        'Happiness Score': 'Happiness_Score',
        'Economy (GDP per Capita)': 'GDP_per_Capita',
        'Family': 'Social_support',
        'Health (Life Expectancy)': 'Life_Expectancy',
        'Freedom': 'Freedom',
        'Trust (Government Corruption)': 'Corruption',
        'Generosity': 'Generosity'}, inplace=True)
 
# print Data frame after rename columns
#display(df_hap2)

In [10]:
# Checking column names in df_hap2
list(df_hap2.columns.values.tolist())

['Country',
 'Happiness_Rank',
 'Happiness_Score',
 'GDP_per_Capita',
 'Social_support',
 'Life_Expectancy',
 'Freedom',
 'Corruption',
 'Generosity',
 'Year']

#### Renaming df_hap3

In [11]:
# Dropping extra columns
df_hap3.drop(['Whisker.high','Whisker.low','Dystopia.Residual'], inplace=True, axis=1)

In [12]:
# call rename () method
#Rename df_hap3 columns
df_hap3.rename(columns={'Happiness.Rank': 'Happiness_Rank',
        'Happiness.Score': 'Happiness_Score',
        'Economy..GDP.per.Capita.': 'GDP_per_Capita',
        'Family': 'Social_support',
        'Health..Life.Expectancy.': 'Life_Expectancy',
        'Freedom': 'Freedom',
        'Trust..Government.Corruption.': 'Corruption',
        'Generosity': 'Generosity'}, inplace=True)
 
# print Data frame after rename columns
#display(df_hap3)

In [13]:
# Checking column names in df_hap3
list(df_hap3.columns.values.tolist())

['Country',
 'Happiness_Rank',
 'Happiness_Score',
 'GDP_per_Capita',
 'Social_support',
 'Life_Expectancy',
 'Freedom',
 'Generosity',
 'Corruption',
 'Year']

#### Renaming df_hap4

In [14]:
# call rename () method
#Rename df_hap4 columns
df_hap4.rename(columns={'Country or region': 'Country',
        'Overall rank': 'Happiness_Rank',
        'Score': 'Happiness_Score',
        'GDP per capita': 'GDP_per_Capita',
        'Social support': 'Social_support',
        'Healthy life expectancy': 'Life_Expectancy',
        'Freedom to make life choices': 'Freedom',
        'Perceptions of corruption': 'Corruption'}, inplace=True)
 
# print Data frame after rename columns
#display(df_hap4)

In [15]:
# Checking column names in df_hap4
list(df_hap4.columns.values.tolist())

['Happiness_Rank',
 'Country',
 'Happiness_Score',
 'GDP_per_Capita',
 'Social_support',
 'Life_Expectancy',
 'Freedom',
 'Generosity',
 'Corruption',
 'Year']

In [16]:
# Aligning columns positions
df_hap4 = df_hap4.reindex(['Country','Happiness_Rank', 'Happiness_Score', 'GDP_per_Capita',
 'Social_support', 'Life_Expectancy', 'Freedom', 'Generosity', 'Corruption', 'Year'], axis=1)

#### Renaming df_hap5

In [17]:
# call rename () method
#Rename df_hap5 columns
df_hap5.rename(columns={'Country or region': 'Country',
        'Overall rank': 'Happiness_Rank',
        'Score': 'Happiness_Score',
        'GDP per capita': 'GDP_per_Capita',
        'Social support': 'Social_support',
        'Healthy life expectancy': 'Life_Expectancy',
        'Freedom to make life choices': 'Freedom',
        'Perceptions of corruption': 'Corruption'}, inplace=True)
 
# print Data frame after rename columns
#display(df_hap5)

In [18]:
# Checking column names in df_hap5
list(df_hap5.columns.values.tolist())

['Happiness_Rank',
 'Country',
 'Happiness_Score',
 'GDP_per_Capita',
 'Social_support',
 'Life_Expectancy',
 'Freedom',
 'Generosity',
 'Corruption',
 'Year']

In [19]:
# aligning columns positions
df_hap5 = df_hap5.reindex(['Country','Happiness_Rank', 'Happiness_Score', 'GDP_per_Capita',
 'Social_support', 'Life_Expectancy', 'Freedom', 'Generosity', 'Corruption', 'Year'], axis=1)

#### Renaming df_hap6

In [20]:
# Dropping extra columns
df_hap6.drop(['Standard error of ladder score','upperwhisker','lowerwhisker',
             'Ladder score in Dystopia','Logged GDP per capita','Social support',
             'Healthy life expectancy','Freedom to make life choices','Generosity',
             'Perceptions of corruption','Dystopia + residual','Regional indicator'], inplace=True, axis=1)

In [21]:
# call rename () method
#Rename df_hap6 columns
df_hap6.rename(columns={'Country name': 'Country',                        
        'Ladder score': 'Happiness_Score',
        'Explained by: Log GDP per capita': 'GDP_per_Capita',
        'Explained by: Social support': 'Social_support',
        'Explained by: Healthy life expectancy': 'Life_Expectancy',
        'Explained by: Freedom to make life choices': 'Freedom',
        'Explained by: Generosity':'Generosity',
        'Explained by: Perceptions of corruption': 'Corruption'}, inplace=True)
 
# print Data frame after rename columns
#display(df_hap6)

In [22]:
# Creating a rank column
df_hap6['Happiness_Rank'] = np.arange(1,len(df_hap6)+1)

In [23]:
# aligning columns positions
df_hap6 = df_hap6.reindex(['Country','Happiness_Rank', 'Happiness_Score', 'GDP_per_Capita',
 'Social_support', 'Life_Expectancy', 'Freedom', 'Generosity', 'Corruption', 'Year'], axis=1)

In [24]:
# Checking column names in df_hap6
list(df_hap6.columns.values.tolist())

['Country',
 'Happiness_Rank',
 'Happiness_Score',
 'GDP_per_Capita',
 'Social_support',
 'Life_Expectancy',
 'Freedom',
 'Generosity',
 'Corruption',
 'Year']

#### Renaming df_hap7

In [25]:
# Dropping extra columns
df_hap7.drop(['Standard error of ladder score','upperwhisker','lowerwhisker',
             'Ladder score in Dystopia','Logged GDP per capita','Social support',
             'Healthy life expectancy','Freedom to make life choices','Generosity',
             'Perceptions of corruption','Dystopia + residual','Regional indicator'], inplace=True, axis=1)

In [26]:
# call rename () method
#Rename df_hap7 columns
df_hap7.rename(columns={'Country name': 'Country',                       
        'Ladder score': 'Happiness_Score',
        'Explained by: Log GDP per capita': 'GDP_per_Capita',
        'Explained by: Social support': 'Social_support',
        'Explained by: Healthy life expectancy': 'Life_Expectancy',
        'Explained by: Freedom to make life choices': 'Freedom',
        'Explained by: Generosity':'Generosity',
        'Explained by: Perceptions of corruption': 'Corruption'}, inplace=True)
 
# print Data frame after rename columns
#display(df_hap7)

In [27]:
# Creating a rank column
df_hap7['Happiness_Rank'] = np.arange(1,len(df_hap7)+1)

In [28]:
# aligning columns positions
df_hap7 = df_hap7.reindex(['Country','Happiness_Rank', 'Happiness_Score', 'GDP_per_Capita',
 'Social_support', 'Life_Expectancy', 'Freedom', 'Generosity', 'Corruption', 'Year'], axis=1)

In [29]:
# Checking column names in df_hap7
list(df_hap7.columns.values.tolist())

['Country',
 'Happiness_Rank',
 'Happiness_Score',
 'GDP_per_Capita',
 'Social_support',
 'Life_Expectancy',
 'Freedom',
 'Generosity',
 'Corruption',
 'Year']

#### Renaming df_hap8

In [30]:
# Dropping extra columns
df_hap8.drop(['Whisker-high','Whisker-low','Dystopia (1.83) + residual'], inplace=True, axis=1)

In [31]:
# call rename () method
#Rename df_hap8 columns
df_hap8.rename(columns={'RANK': 'Happiness_Rank','Happiness score': 'Happiness_Score',
        'Explained by: GDP per capita': 'GDP_per_Capita',
        'Explained by: Social support': 'Social_support',
        'Explained by: Healthy life expectancy': 'Life_Expectancy',
        'Explained by: Freedom to make life choices': 'Freedom',
        'Explained by: Generosity':'Generosity',
        'Explained by: Perceptions of corruption': 'Corruption'}, inplace=True)
 
# print Data frame after rename columns
#display(df_hap8)

In [32]:
# aligning columns positions
df_hap8 = df_hap8.reindex(['Country','Happiness_Rank', 'Happiness_Score', 'GDP_per_Capita',
 'Social_support', 'Life_Expectancy', 'Freedom', 'Generosity', 'Corruption', 'Year'], axis=1)

In [33]:
# Checking column names in df_hap8
list(df_hap8.columns.values.tolist())

['Country',
 'Happiness_Rank',
 'Happiness_Score',
 'GDP_per_Capita',
 'Social_support',
 'Life_Expectancy',
 'Freedom',
 'Generosity',
 'Corruption',
 'Year']

#### 3.2 Merging individual datasets for happiness reports

In [34]:
#Merging datasets
df_worhap = pd.concat([df_hap1, df_hap2, df_hap3, df_hap4, df_hap5, df_hap6, df_hap7, df_hap8], axis="rows", join="inner")

In [35]:
# aligning columns positions
df_worhap = df_worhap.reindex(['Country','Year','Happiness_Rank', 'Happiness_Score', 'GDP_per_Capita',
 'Social_support', 'Life_Expectancy', 'Freedom', 'Generosity', 'Corruption'], axis=1)

In [36]:
df_worhap.shape

(1231, 10)

 ### 4. Data Quality check

#### 4.1 Changing data types

In [37]:
#information about the dataset
df_worhap.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1231 entries, 0 to 146
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          1231 non-null   object
 1   Year             1231 non-null   object
 2   Happiness_Rank   1231 non-null   int64
 3   Happiness_Score  1230 non-null   object
 4   GDP_per_Capita   1230 non-null   object
 5   Social_support   1230 non-null   object
 6   Life_Expectancy  1230 non-null   object
 7   Freedom          1230 non-null   object
 8   Generosity       1230 non-null   object
 9   Corruption       1229 non-null   object
dtypes: int64(1), object(9)
memory usage: 105.8+ KB

In [38]:
#Changing a variable's data type 'Year'
df_worhap['Year'] = df_worhap['Year'].astype('int64')
df_worhap['Happiness_Rank'].dtype

dtype('int64')

In [39]:
#Changing a variable's data type 'Happiness_Score'
df_worhap['Happiness_Score'] = df_worhap['Happiness_Score'].astype('float')
df_worhap['Happiness_Score'].dtype

dtype('float64')

In [40]:
#Changing a variable's data type 'GDP_per_Capita'
df_worhap['GDP_per_Capita'] = df_worhap['GDP_per_Capita'].astype('float')
df_worhap['GDP_per_Capita'].dtype

dtype('float64')

In [41]:
#Changing a variable's data type 'Social_support'
df_worhap['Social_support'] = df_worhap['Social_support'].astype('float')
df_worhap['Social_support'].dtype

dtype('float64')

In [42]:
#Changing a variable's data type 'Life_Expectancy'
df_worhap['Life_Expectancy'] = df_worhap['Life_Expectancy'].astype('float')
df_worhap['Life_Expectancy'].dtype

dtype('float64')

In [43]:
#Changing a variable's data type 'Freedom'
df_worhap['Freedom'] = df_worhap['Freedom'].astype('float')
df_worhap['Freedom'].dtype

dtype('float64')

In [44]:
#Changing a variable's data type 'Generosity'
df_worhap['Generosity'] = df_worhap['Generosity'].astype('float')
df_worhap['Generosity'].dtype

dtype('float64')

In [45]:
#Changing a variable's data type 'Corruption'
df_worhap['Corruption'] = df_worhap['Corruption'].astype('float')
df_worhap['Corruption'].dtype

dtype('float64')

In [46]:
# Checking dataset after modifications
df_worhap.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1231 entries, 0 to 146
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          1231 non-null   object
 1   Year             1231 non-null   int64
 2   Happiness_Rank   1231 non-null   int64
 3   Happiness_Score  1230 non-null   float64
 4   GDP_per_Capita   1230 non-null   float64
 5   Social_support   1230 non-null   float64
 6   Life_Expectancy  1230 non-null   float64
 7   Freedom          1230 non-null   float64
 8   Generosity       1230 non-null   float64
 9   Corruption       1229 non-null   float64
dtypes: float64(7), int64(2), object(1)
memory usage: 105.8+ KB

#### 4.2 Data Cleaning

In [47]:
# Finding empty row
df_worhap.tail()

,Country,Year,Happiness_Rank,Happiness_Score,GDP_per_Capita,Social_support,Life_Expectancy,Freedom,Generosity,Corruption
142,Rwanda*,2022,143,3.268,0.785,0.133,0.462,0.621,0.187,0.544
143,Zimbabwe,2022,144,2.995,0.947,0.690,0.270,0.329,0.106,0.105
144,Lebanon,2022,145,2.955,1.392,0.498,0.631,0.103,0.082,0.034
145,Afghanistan,2022,146,2.404,0.758,0.000,0.289,0.000,0.089,0.005
146,xx,2022,147,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
# Removing empty row
df_worhap = df_worhap[:-1]

In [49]:
df_worhap.tail()

,Country,Year,Happiness_Rank,Happiness_Score,GDP_per_Capita,Social_support,Life_Expectancy,Freedom,Generosity,Corruption
141,Botswana*,2022,142,3.471,1.503,0.815,0.280,0.571,0.012,0.102
142,Rwanda*,2022,143,3.268,0.785,0.133,0.462,0.621,0.187,0.544
143,Zimbabwe,2022,144,2.995,0.947,0.690,0.270,0.329,0.106,0.105
144,Lebanon,2022,145,2.955,1.392,0.498,0.631,0.103,0.082,0.034
145,Afghanistan,2022,146,2.404,0.758,0.000,0.289,0.000,0.089,0.005

In [50]:
# Reseting index column after merging
df_worhap = df_worhap.reset_index(drop=True)

In [51]:
df_worhap.tail()

,Country,Year,Happiness_Rank,Happiness_Score,GDP_per_Capita,Social_support,Life_Expectancy,Freedom,Generosity,Corruption
1225,Botswana*,2022,142,3.471,1.503,0.815,0.280,0.571,0.012,0.102
1226,Rwanda*,2022,143,3.268,0.785,0.133,0.462,0.621,0.187,0.544
1227,Zimbabwe,2022,144,2.995,0.947,0.690,0.270,0.329,0.106,0.105
1228,Lebanon,2022,145,2.955,1.392,0.498,0.631,0.103,0.082,0.034
1229,Afghanistan,2022,146,2.404,0.758,0.000,0.289,0.000,0.089,0.005

In [52]:
# Replacing symbols in the variable country
df_worhap['Country']= df_worhap['Country'].str.replace('*', '', regex=True)

In [53]:
# Replacing incorrect country names
df_worhap['Country'] = df_worhap['Country'].replace({'Hong Kong S.A.R., China': 'Hong Kong', 'Trinidad & Tobago': 'Trinidad and Tobago', 
                      'Hong Kong S.A.R. of China': 'Hong Kong', 'Czechia': 'Czech Republic','Eswatini, Kingdom of':'Eswatini',
                                   'North Macedonia':'Macedonia','North Cyprus':'Cyprus', 'Northern Cyprus':'Cyprus','Taiwan Province of China':'Taiwan',
                                    'South Sudan':'Sudan','Somaliland Region':'Somaliland','Somaliland region':'Somaliland', 'Congo':'Congo (Kinshasa)'})

In [54]:
# Checking unique values
print(df_worhap["Country"].unique())

['Switzerland' 'Iceland' 'Denmark' 'Norway' 'Canada' 'Finland'
 'Netherlands' 'Sweden' 'New Zealand' 'Australia' 'Israel' 'Costa Rica'
 'Austria' 'Mexico' 'United States' 'Brazil' 'Luxembourg' 'Ireland'
 'Belgium' 'United Arab Emirates' 'United Kingdom' 'Oman' 'Venezuela'
 'Singapore' 'Panama' 'Germany' 'Chile' 'Qatar' 'France' 'Argentina'
 'Czech Republic' 'Uruguay' 'Colombia' 'Thailand' 'Saudi Arabia' 'Spain'
 'Malta' 'Taiwan' 'Kuwait' 'Suriname' 'Trinidad and Tobago' 'El Salvador'
 'Guatemala' 'Uzbekistan' 'Slovakia' 'Japan' 'South Korea' 'Ecuador'
 'Bahrain' 'Italy' 'Bolivia' 'Moldova' 'Paraguay' 'Kazakhstan' 'Slovenia'
 'Lithuania' 'Nicaragua' 'Peru' 'Belarus' 'Poland' 'Malaysia' 'Croatia'
 'Libya' 'Russia' 'Jamaica' 'Cyprus' 'Algeria' 'Kosovo' 'Turkmenistan'
 'Mauritius' 'Hong Kong' 'Estonia' 'Indonesia' 'Vietnam' 'Turkey'
 'Kyrgyzstan' 'Nigeria' 'Bhutan' 'Azerbaijan' 'Pakistan' 'Jordan'
 'Montenegro' 'China' 'Zambia' 'Romania' 'Serbia' 'Portugal' 'Latvia'
 'Philippines' 'Somaliland' 'Morocco' 'Macedonia' 'Mozambique' 'Albania'
 'Bosnia and Herzegovina' 'Lesotho' 'Dominican Republic' 'Laos' 'Mongolia'
 'Swaziland' 'Greece' 'Lebanon' 'Hungary' 'Honduras' 'Tajikistan'
 'Tunisia' 'Palestinian Territories' 'Bangladesh' 'Iran' 'Ukraine' 'Iraq'
 'South Africa' 'Ghana' 'Zimbabwe' 'Liberia' 'India' 'Sudan' 'Haiti'
 'Congo (Kinshasa)' 'Nepal' 'Ethiopia' 'Sierra Leone' 'Mauritania' 'Kenya'
 'Djibouti' 'Armenia' 'Botswana' 'Myanmar' 'Georgia' 'Malawi' 'Sri Lanka'
 'Cameroon' 'Bulgaria' 'Egypt' 'Yemen' 'Angola' 'Mali'
 'Congo (Brazzaville)' 'Comoros' 'Uganda' 'Senegal' 'Gabon' 'Niger'
 'Cambodia' 'Tanzania' 'Madagascar' 'Central African Republic' 'Chad'
 'Guinea' 'Ivory Coast' 'Burkina Faso' 'Afghanistan' 'Rwanda' 'Benin'
 'Syria' 'Burundi' 'Togo' 'Puerto Rico' 'Belize' 'Somalia' 'Namibia'
 'Gambia' 'Maldives' 'Eswatini']

In [55]:
# Checking length of unique values
len(df_worhap['Country'].unique())

164

#### 4.3 Creating and checking variable 'Region'

In [56]:
# Creating a variable 'Region' based on column 'Country'
Africa = ['Libya','Algeria','Mauritius','Nigeria','Zambia','Somaliland','Morocco','Mozambique','Lesotho','Swaziland','Tunisia','South Africa','Ghana','Zimbabwe','Liberia','Sudan','Congo (Kinshasa)','Congo (Brazzaville)',
'Ethiopia','Sierra Leone','Mauritania','Kenya','Djibouti','Botswana','Malawi','Cameroon','Egypt','Angola','Mali','Comoros','Uganda','Senegal','Gabon','Niger','Cambodia',
'Tanzania','Madagascar','Central African Republic','Chad', 'Guinea','Ivory Coast','Burkina Faso','Rwanda','Benin','Burundi','Togo','Eswatini','Gambia','Namibia','Somalia']

Asia = ['Israel','United Arab Emirates','Oman','Singapore','Qatar','Thailand','Saudi Arabia','Taiwan','Kuwait','Uzbekistan','Japan','South Korea','Bahrain','Kazakhstan','Malaysia','Russia','North Cyprus',
'Turkmenistan','Hong Kong','Indonesia','Vietnam','Turkey','Kyrgyzstan','Bhutan','Azerbaijan','Pakistan','Jordan','China','Philippines','Laos','Mongolia','Lebanon','Tajikistan','Palestinian Territories',
'Bangladesh','Iran','Iraq','India','Nepal','Armenia','Myanmar','Sri Lanka','Yemen','Afghanistan','Syria','Maldives']


Europe = ['Switzerland','Iceland','Denmark','Norway','Finland','Netherlands','Sweden','Austria','Luxembourg','Ireland','Belgium','United Kingdom','Germany','France','Czech Republic','Spain',
'Malta','Slovakia','Italy', 'Moldova','Slovenia','Lithuania','Belarus','Poland','Croatia','Cyprus','Kosovo','Estonia','Montenegro','Romania','Serbia','Portugal','Latvia','Macedonia','Albania',
'Bosnia and Herzegovina','Greece','Hungary','Ukraine','Georgia','Bulgaria']

North_America = ['Canada','Costa Rica','Mexico','United States','Panama','El Salvador','Guatemala','Jamaica','Dominican Republic','Honduras','Haiti','Belize','Puerto Rico']

Oceania = ['New Zealand','Australia']

South_America = ['Brazil','Venezuela','Chile','Argentina','Uruguay','Colombia','Suriname','Trinidad and Tobago','Ecuador','Bolivia','Paraguay','Nicaragua','Peru']

In [57]:
#using np.select
cond=[df_worhap['Country'].isin(Africa),df_worhap['Country'].isin(Asia),df_worhap['Country'].isin(Europe),df_worhap['Country'].isin(North_America),df_worhap['Country'].isin(Oceania),df_worhap['Country'].isin(South_America)]
values=['Africa','Asia','Europa','North_America','Oceania','South_America']
df_worhap['Region']=np.select(cond,values)

In [58]:
# Aligning columns positions
df_worhap = df_worhap.reindex(['Country','Region','Year','Happiness_Rank', 'Happiness_Score', 'GDP_per_Capita',
 'Social_support', 'Life_Expectancy', 'Freedom', 'Generosity', 'Corruption'], axis=1)

In [59]:
df_worhap.tail()

,Country,Region,Year,Happiness_Rank,Happiness_Score,GDP_per_Capita,Social_support,Life_Expectancy,Freedom,Generosity,Corruption
1225,Botswana,Africa,2022,142,3.471,1.503,0.815,0.280,0.571,0.012,0.102
1226,Rwanda,Africa,2022,143,3.268,0.785,0.133,0.462,0.621,0.187,0.544
1227,Zimbabwe,Africa,2022,144,2.995,0.947,0.690,0.270,0.329,0.106,0.105
1228,Lebanon,Asia,2022,145,2.955,1.392,0.498,0.631,0.103,0.082,0.034
1229,Afghanistan,Asia,2022,146,2.404,0.758,0.000,0.289,0.000,0.089,0.005

In [60]:
# Checking unique values of the new column 'region'
print(df_worhap['Region'].unique())

['Europa' 'North_America' 'Oceania' 'Asia' 'South_America' 'Africa']

#### 4.4 Checking consistency of the data

In [61]:
df_worhap.describe()

,Year,Happiness_Rank,Happiness_Score,GDP_per_Capita,Social_support,Life_Expectancy,Freedom,Generosity,Corruption
count,1230.000000,1230.000000,1230.000000,1230.000000,1230.000000,1230.000000,1230.000000,1230.000000,1229.000000
mean,2018.447154,77.421951,5.430092,0.976255,1.032984,0.608132,0.440833,0.201583,0.130756
std,2.282716,44.486273,1.115361,0.435247,0.329526,0.241249,0.154415,0.115522,0.110818
min,2015.000000,1.000000,2.404000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2016.000000,39.000000,4.584500,0.668250,0.824771,0.439250,0.344250,0.118000,0.056000
50%,2018.000000,77.000000,5.410500,1.013580,1.069168,0.639427,0.458135,0.186984,0.096000
75%,2020.000000,116.000000,6.226225,1.295961,1.273395,0.790795,0.559000,0.258494,0.164000
max,2022.000000,158.000000,7.842000,2.209000,1.644000,1.141000,0.740000,0.838075,0.587000

#### Remove Duplicates

In [62]:
# Remove duplicates
df_worhap.drop_duplicates(inplace=True)

No duplicates were found

#### Checking for Mix-Data

In [63]:
# check for mixed types (using test code)
for col in df_worhap.columns.tolist():
  weird = (df_worhap[[col]].applymap(type) != df_worhap[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_worhap[weird]) > 0:
    print (col)

There is not mix-data in the dataset

#### Addresing Missing Values

In [68]:
# check for missing data 
df_worhap.isnull().sum()

Country            0
Region             0
Year               0
Happiness_Rank     0
Happiness_Score    0
GDP_per_Capita     0
Social_support     0
Life_Expectancy    0
Freedom            0
Generosity         0
Corruption         0
dtype: int64

In [65]:
# Replacing missing values with NaN
df_worhap.fillna('NaN', inplace=True)

In [66]:
df_worhap.shape

(1230, 11)

### 5. Exporting data for World Happiness Report

In [67]:
# Exporting the df_worhap
df_worhap.to_csv(os.path.join(path, '02 Data','Prepared Data', 'World_Happiness_2015-2022.csv'), index=False)